<html lang="">
<head lang="en">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <title></title>
    {% block headInfo %} {% endblock %}
</head>
<body>
<div class="d-flex justify-content-center">

</div>
{% block content %}
{% endblock %}


</body>
</html>
<script src=""></script>
<script>


</script>
{% block script %}
{% endblock %}
{% block additional %}
{% endblock %}