<html lang="">
<head lang="en">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/js/ChartJS/Chart.css" rel="stylesheet">
    <title></title>
    {% block headInfo %} {% endblock %}
</head>
<body>
<style>
body {
  background-color: #e6e7e8;
  background-attachment: fixed;
background-position: right top;
background-size: cover;
}
</style>
<div class="d-flex justify-content-center">

</div>
{% block content %}
{% endblock %}


</body>
</html>
{% block script %}
{% endblock %}
{% block additional %}
{% endblock %}