{% extends "base.html" %}
{% block content %}
	<div class="d-flex justify-content-center">
		<h1>Your Microgreens</h1>
	</div>

	<div class="row">
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<button class="button button1" onclick="document.location='tray.html'">Tray 1</button>
				<button class="button button1">Tray 2</button>
				<button class="button button1">Tray 3</button>
				<button class="button button1">Tray 4</button>
				<button class="button button1">Tray 5</button>
		 	</div>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<button class="button button2">Service Mode</button>
		 	</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<section id = "2">
             <h2>Notifications</h2>
             <p><b>Kale</b> ready to harvest!</p>
		</section>
	</div>
{% endblock %}

         

        