{% extends "base.html" %}
{% block content %}
	<div class="d-flex justify-content-center">
        <h1>Tray 1</h1>
    </div>

	<div class="fixed-top">
        <div class="float-right">
            <button class="button button1" onclick="go_home()"> Back </button>
        </div>
	</div>

    <div class ="row">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <button class="button button1">Last Cycle </button>
                <button class="button button1">Last Month</button>
                <button class="button button1">All Time</button>
            </div>
        </div>
    </div>

    <div class="center-block">
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
        <div><img src = "/static/imgs/graph.png" alt = "Sample graph"></div>
    </div>

{% endblock %}
<script>
    function go_home() {
        document.location= "/";
    }
</script>


