{% extends "base.html" %}
{% block content %}

    <div class="wrapper">
        <div class="content-header">
			<div class="container-fluid">
				<h1>Tray {{ trayid }}</h1>
                <div class="d-flex justify-content-center">
                      <button class="button button2 back-button" onclick="go_home()">Back</button>
                </div>
			</div>
		</div>

        <div class ="row">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <button class="button button2">Last Cycle</button>
                    <button class="button button2">Last Month</button>
                    <button class="button button2">All Time</button>
                </div>
            </div>
        </div>

        <section class="trayCharts">
            <div class="d-flex align-items-center flex-column">
                <div class="container-fluid">
                    <div class="card-body">
                        <canvas id="phChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <br>
                    <div class="card-body">
                        <canvas id="ecChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="weightChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="intempChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="humtempChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="extempChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="redChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">
                        <div class="chart-container">
                             <canvas id="blueChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 90%;"></canvas>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </section>

       <section id="trayCtrlPg">
            <div class="container-fluid">
                <div class="fullCard">
                    <div class="cardContent">
                        <div class="cardInfo">
                            <div class="progress">
                                <div class="progress-bar" style="width:50%">50%</div>
                            </div>
                             <button class="cardButton" onclick="document.location='/trayinfo/trayid/trayControl'">Tray Control</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block script %}
<script src="/static/js/ChartJS/Chart.js"></script>
<script src="/static/js/ChartJS/Chart.bundle.js"></script>
<script src="/static/js/trayChart.js"></script>
{% endblock %}




