{% extends "base.html" %}
{% block content %}
	<div class="wrapper">
		<!-- Page Header -->
		<div class="content-header">
			<div class="container-fluid">
				<h1>Dashboard</h1>
			</div>
		</div>

		 <!-- Main content -->
		<section id="trayButtons">
			<div class="container-fluid">
				<div class="d-flex justify-content-center">
					<div class="row">
						<div class="col">
							<div class="fullCard">
								<div class="cardContent">
									<div class="cardInfo">
								  		<h6>Tray 1</h6>
										<div class="progress">
  											<div class="progress-bar" style="width:25%">25%</div>
										</div>
								  		<button class="cardButton" onclick="document.location='trayinfo/1'">More info</button>
									</div>
							  	</div>
						    </div>
						</div>
						<div class="col">
							<div class="fullCard">
								<div class="cardContent">
									<div class="cardInfo">
								  		<h6>Tray 2</h6>
										<div class="progress">
  											<div class="progress-bar" style="width:50%">50%</div>
										</div>
								  		<button class="cardButton" onclick="document.location='trayinfo/2'">More info</button>
									</div>
							  	</div>
						    </div>
						</div>
						<div class="col">
							<div class="fullCard">
								<div class="cardContent">
									<div class="cardInfo">
								  		<h6>Tray 3</h6>
										<div class="progress">
  											<div class="progress-bar" style="width:75%">75%</div>
										</div>
								  		<button class="cardButton" onclick="document.location='trayinfo/3'">More info</button>
									</div>
							  	</div>
						    </div>
						</div>
						<div class="col">
							<div class="fullCard">
								<div class="cardContent">
									<div class="cardInfo">
								  		<h6>Tray 4</h6>
										<div class="progress">
  											<div class="progress-bar" style="width:100%">100%</div>
										</div>
								  		<button class="cardButton" onclick="document.location='trayinfo/4'">More info</button>
									</div>
							  	</div>
						    </div>
						</div>
						<div class="col">
							<div class="fullCard">
								<div class="cardContent">
									<div class="cardInfo">
								  		<h6>Tray 5</h6>
										<div class="progress">
  											<div class="progress-bar" style="width:25%">25%</div>
										</div>
								  		<button class="cardButton" onclick="document.location='trayinfo/5'">More info</button>
									</div>
							  	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="serviceMode">
			<div class="container-fluid">
				<div class="d-flex justify-content-center">
					<button class="button cardButton" onclick="document.location='service'">Service Mode</button>
				</div>
			</div>
		</section>

		<section id = "notifications">
			<div class="content-header">
				<div class="container-fluid">
					<h2>Notifications</h2>
				</div>
			</div>
			<div class="container-fluid">
				{% for tray in status.tray_status %}
				{% if tray.iscomplete %}
				<div class="alert alert-success">
				<p><b>Tray {{ tray.id }}: is ready to harvest!</b></p>
				</div>
				{% endif %}
				{% endfor %}
			</div>

			<div class="container-fluid">
				{% if status.water_level is defined and status.water_level < 50 %}
				<div class="alert alert-warning">
					<p><b>Water Level is at low. Currently {{ status.water_level }}%</b></p>
				</div>
				{% endif %}
			</div>

			<div class="container-fluid">
				<div class="alert alert-info">
					<p><b>Current Weight: {{status.weight}} gram</b></p>
				</div>
			</div>
		</section>

		<section id="info">
			<div class="container-fluid">
				<div class="d-flex justify-content-center">
					<table id="infoTable" >
						<tr>
							<th>Current PH</th>
							<th>PH Tank Level</th>
							<th>External Temperature (℉) </th>
							<th>External Humidity (%) </th>
						</tr>
						<tr>
							<td>7.0</td>
							<td>7.0</td>
							<td>80</td>
							<td>30</td>
						</tr>
						<tr>
							<th>Current EC</th>
							<th>Nutrient Tank Level</th>
							<th>Current Temperature (℉) </th>
							<th>Internal Humidity (%) </th>
						</tr>
						<tr>
							<td>7.0</td>
							<td>7.0</td>
							<td>75</td>
							<td>80</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
	</div>

{% endblock %}
{% block script %}

<script>

</script>
{% endblock %}

         

        