{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
        <div class="row">
            <div class="">

            </div>
            <!-- Main content -->
            <section id="trayButtons">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col">
                                <div class="fullCard">
                                    <div class="cardContent">
                                        <div class="cardInfo">
                                            <h6>Tray 1</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:25%">25%</div>
                                            </div>
                                            <button class="cardButton" onclick="document.location='trayinfo/1'">More info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fullCard">
                                    <div class="cardContent">
                                        <div class="cardInfo">
                                            <h6>Tray 2</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:50%">50%</div>
                                            </div>
                                            <button class="cardButton" onclick="document.location='trayinfo/2'">More info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fullCard">
                                    <div class="cardContent">
                                        <div class="cardInfo">
                                            <h6>Tray 3</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:75%">75%</div>
                                            </div>
                                            <button class="cardButton" onclick="document.location='trayinfo/3'">More info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fullCard">
                                    <div class="cardContent">
                                        <div class="cardInfo">
                                            <h6>Tray 4</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:100%">100%</div>
                                            </div>
                                            <button class="cardButton" onclick="document.location='trayinfo/4'">More info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="fullCard">
                                    <div class="cardContent">
                                        <div class="cardInfo">
                                            <h6>Tray 5</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:25%">25%</div>
                                            </div>
                                            <button class="cardButton" onclick="document.location='trayinfo/5'">More info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>
</div>

{% endblock %}
{% block script %}

<script>

</script>
{% endblock %}

</div>

         
