{% extends "base.html" %}
{% block content %}
	<div class="container-fluid">
        <section id="trayControls">
            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                     <div class="container">
                        <div class="fullCard">
                            <div class="cardContent">
                                <div class="cardInfo">
                                    <h6>Tray 1: Broccoli</h6>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:100%">100%</div>
                                    </div>
                                    <button class="cardButton">Status</button>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                                <div class="fullCard">
								    <div class="cardContent">
									    <div class="cardInfo">
								  		    <h6>Tray 1: Broccoli</h6>
                                            <div class="progress">
                                                <div class="progress-bar" style="width:100%">100%</div>
                                            </div>
								  		    <button class="cardButton">Harvest</button>
									    </div>
							  	    </div>
						        </div>
                            </div>
                     </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
<script src ="">

</script>
{% endblock %}
